<div class="row">
<div class="span7 offset3">

<div class="login-box" id="login_modal" tabindex="-1" role="dialog">
    <div class="modal-header">
      <h3>Login to your account</h3>
    </div>
    <div class="modal-body">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => "form-horizontal") do |f| %>
      <fieldset>
        <div class="input-prepend" title="Username">
          <span class="add-on">
            <i class="icon-envelope-alt"></i>
          </span>
          <input class="input-large" name="user[email]" id="email" type="text" placeholder="type email"/>
        </div>
        <div class="clearfix"></div>
        <div class="input-prepend" title="Password">
          <span class="add-on"><i class="icon-lock"></i></span>
          <input class="input-large" name="user[password]" id="password" type="password" placeholder="type password"/>
        </div>
        <div class="clearfix"></div>
        <label class="remember" for="remember"><input type="checkbox" id="remember" name="user[remember_me]"/>Remember me</label>
        <div class="btn-group button-login">  
          <button type="submit" class="btn btn-primary"><i class="icon-off icon-white"></i></button>
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="clearfix"></div>  
      <% end %>
      <h3>Forgot Password?</h3>
      <p>
          No problem, <%= link_to "click here", new_password_path(resource_name) %> to get a new password.
      </p>  
    </div>
  </div>

</div>
</div>
