<button class="call" onclick="call();">
  Call
</button>

<button class="hangup" onclick="hangup();">
  Hangup
</button>

<input type="text" id="number" name="number"
  placeholder="Enter a phone number to call"/>

<div id="log">Loading pigeons...</div>