<%if @campaign %>
<div class="row">
	<div class="span10 offset2">
	<h1><%=@campaign.name%></h1>
	</div>
</div>
<div class="row">
<div class="span4">
	<% @campaign.sms_messages.each do |sms| %>
		<%=sms.body %>
	<% end %>
</div>	
<div class="span4">
<button id="call" data-token="<%= @token %>" data-pusherkey="<%= @pusherkey %>">

  Call
</button>

<button id="hangup">
  Hangup
</button>

<div id="log">Loading pigeons...</div>
</div>
<div class="span4">
	Widget3
</div>
</div>

<% else %>
	No campaigns at the moment.
<% end %>
