<div class="row">
<div class="span7 offset3">
<div class="login-box">
<h2>Forgot your password?</h2>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
  	<div class="input-prepend" title="Username">
     	<span class="add-on">
            <i class="icon-envelope-alt"></i>
        </span>
        <input class="input-large" name="user[email]" id="email" type="text" placeholder="type email"/>
    </div>
   <div class="clearfix"></div> 
   <br>
   <div class="btn-group button-login">  
	<%= f.submit "Send me reset password instructions", :class => 'btn btn-large btn-primary' %>
   </div>
   <div class="clearfix"></div> 
  </fieldset>
<% end %>
</div>
</div>
</div>
